{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,700&family=Raleway:wght@500&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="{% static 'core/css/index.css' %}">

    <script src="https://kit.fontawesome.com/540bcb909b.js" crossorigin="anonymous"></script>

    <title>Clip-It: App</title>
</head>

<body>
    <!-- Root container : sidebar viewport + url viewport + shortcuts viewport -->
    <div class="root_container">

        <!-- Sidebar: Viewport for Collections + Tags + Menu -->
        <section class="sidebar_container">

            <!-- Collections: Section for Bookmark Folders -->
            <section class="collections_container sidebar_item">

                <div class="collections_header_container collections_item">

                    <h3 class="collections_heading"><i class="far fa-folder folder_icon"></i>
                        Collections
                    </h3>

                    <i class="fas fa-plus add_collections add"
                        onclick="location.href='{% url 'create_collection' %}'"></i>

                </div>
                <div class=" collections_content_container collections_item">
                    {% for item in collections %}
                    <div class="collections_content_item" id="{{ item.id }}">

                        <a href="{% url 'load_bookmarks' collection_id=item.id %}">{{ item.name }}</a>
                        <i class="far fa-edit edit_collection edit"
                            onclick="location.href='{% url 'edit_collection' collection_id=item.id %}'"></i>
                        <i data-id="{{ item.id }}"
                            class="far fa-trash-alt delete_collection_01 delete_collection delete"
                            onclick="location.href='{% url 'delete_collection' pk=item.id %}'"></i>

                    </div>
                    {% endfor %}
                </div>
            </section>

            <!-- Tags: Section for Bookmark Tags -->
            <section class="tags_container sidebar_item">
            </section>

            <!-- Menu: Sections for Profile + Upload + Sign Out -->
            <section class="menu_container sidebar_item">

                <!-- Profile: User Profile -->
                <div class="menu_item">
                    <i class="far fa-user-circle profile" onclick="location.href='{% url 'profile' %}'"></i>
                </div>


                <!-- Upload: Google Bookmarks File Upload  -->
                <div class="menu_item">
                    <i class="fas fa-upload upload" onclick="location.href='upload.html'"></i>
                </div>

                <!-- Sign Out: Sign Out button -->
                <div class="menu_item">
                    <i class="fas fa-sign-out-alt sign_out" onclick="location.href='{% url 'logout' %}'"></i>
                </div>


            </section>

        </section>

        <main class="url_container">

            <section class="url_header_container url_item">
                {% if collection_name %}
                <h1>{{ collection_name }}</h1>
                {% else %}
                <h1>All Bookmarks</h1>
                {% endif %}

            </section>

            <section class="url_content_container url_item">
                {% for bookmark in bookmarks %}
                <div class="url_01 url_content_item">

                    <a href="{{ bookmark.url }}" target="_blank">{{ bookmark.title }}</a>
                    <div class="url_content_item_editable">
                        <i class="far fa-edit edit_url_01 edit_url edit"
                            onclick="location.href='{% url 'edit_bookmark' bookmark_id=bookmark.id %}'"></i>
                        <i class="far fa-trash-alt delete_url_01 delete_url delete"
                            onclick="location.href='{% url 'delete_bookmark' pk=bookmark.id %}'"></i>
                    </div>
                </div>
                {% empty %}
                <h1>Collection is Empty. Add bookmarks to continue.</h1>
                {% endfor %}

                <i class="fas fa-plus add_url" onclick="location.href='{% url 'create_bookmark' %}'"></i>

            </section>


        </main>

        <section class="shortcut_container">

            <div class="shortcut_header_container shortcut_item">
                <h2> <i class="fas fa-layer-group"></i> Shortcuts</h2>

                <i class="fas fa-plus add_shortcut add" onclick="location.href='{% url 'create_shortcut' %}'"></i>
            </div>

            <div class="shortcut_content_container shortcut_item">
                {% for shortcut in shortcuts %}
                <div class="shortcut_content_item">
                    <a href="{{ shortcut.url }}" target="_blank">{{ shortcut.title }}</a>
                    <div class="shortcut_content_item_editable">
                        <i class="far fa-edit edit_shortcut_01 edit_url edit"
                            onclick="location.href='{% url 'edit_shortcut' shortcut_id=shortcut.id %}'"></i>
                        <i class="far fa-trash-alt delete_shortcut_01 delete_url delete"
                            onclick="location.href='{% url 'delete_shortcut' pk=shortcut.id %}'"></i>
                    </div>
                </div>
                {% endfor %}

            </div>

            <div class="logo">
                <h3>Clip-It</h3>
            </div>

        </section>

    </div>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="{% static 'core/js/index.js' %}"></script>
</body>

</html>